<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>PanoMod</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>actHack.png</string>
      <key>label</key>
      <string>PanoMod</string>
    </dict>
    <key>items</key>
    <array>
    	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>BannerCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Documentations</string>
		</dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>id</key>
      		<string>PanoGuideViewController</string>
      		<key>label</key>
			<string>ℹ Guides</string>
			<key>name</key>
			<string>Guides</string>
			<key>action</key>
			<string>showController:</string>
			<key>alignment</key>
			<integer>1</integer>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>id</key>
      		<string>PanoFAQViewController</string>
      		<key>label</key>
			<string>❓ FAQ</string>
			<key>name</key>
			<string>FAQ</string>
			<key>action</key>
			<string>showController:</string>
			<key>alignment</key>
			<integer>1</integer>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>id</key>
      		<string>PanoCreditsViewController</string>
      		<key>label</key>
			<string>❤ Thanks</string>
			<key>name</key>
			<string>Thanks</string>
			<key>action</key>
			<string>showController:</string>
			<key>alignment</key>
			<integer>1</integer>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>➕ Values</string>
			<key>id</key>
			<string>PanoSlidersController</string>
			<key>action</key>
			<string>showController:</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		 <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>🚩 UI</string>
			<key>id</key>
			<string>PanoUIController</string>
			<key>action</key>
			<string>showController:</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>⚠ System</string>
			<key>id</key>
			<string>PanoSysController</string>
			<key>action</key>
			<string>showController:</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<true/>
        	<key>id</key>
			<string>PanoEnabled</string>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>PanoEnabled</string>
        	<key>label</key>
        	<string>Enable Panorama</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>☕ Donate</string>
			<key>action</key>
			<string>donate:</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>© 2013 - 2015 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
