<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>Values</string>
    <key>items</key>
    <array>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Panoramic Images Maximum Width</string>
			<key>id</key>
			<string>MaxWidth</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>MaxWidthSlider</string>
			<key>default</key>
			<real>10800</real>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setWidth:specifier:</string>
			<key>key</key>
			<string>PanoramaMaxWidth</string>
			<key>max</key>
			<real>21600</real>
			<key>min</key>
			<real>1000</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
			<string>MaxWidthInput</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setWidth:specifier:</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PanoramaMaxWidth</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Preview Width</string>
			<key>id</key>
			<string>PreviewWidth</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>PreviewWidthSlider</string>
			<key>default</key>
			<real>306</real>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPreviewWidth:specifier:</string>
			<key>key</key>
			<string>PreviewWidth</string>
			<key>max</key>
			<real>576</real>
			<key>min</key>
			<real>100</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
			<string>PreviewWidthInput</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPreviewWidth:specifier:</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PreviewWidth</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Preview Height</string>
			<key>id</key>
			<string>PreviewHeight</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>PreviewHeightSlider</string>
			<key>default</key>
			<real>86</real>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPreviewHeight:specifier:</string>
			<key>key</key>
			<string>PreviewHeight</string>
			<key>max</key>
			<real>576</real>
			<key>min</key>
			<real>40</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
			<string>PreviewHeightInput</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPreviewHeight:specifier:</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PreviewHeight</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Min Framerate</string>
			<key>id</key>
			<string>MinFrameRate</string>
			<key>footerText</key>
			<string></string>
		</dict>
       <dict>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>MinFrameRateSlider</string>
			<key>default</key>
			<real>15</real>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setMinFPS:specifier:</string>
			<key>key</key>
			<string>PanoramaMinFrameRate</string>
			<key>max</key>
			<real>30</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
			<string>MinFPSInput</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setMinFPS:specifier:</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PanoramaMinFrameRate</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Max Framerate</string>
			<key>id</key>
			<string>MaxFrameRate</string>
			<key>footerText</key>
			<string></string>
		</dict>
       <dict>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>MaxFrameRateSlider</string>
			<key>default</key>
			<real>15</real>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setMaxFPS:specifier:</string>
			<key>key</key>
			<string>PanoramaMaxFrameRate</string>
			<key>max</key>
			<real>60</real>
			<key>min</key>
			<real>15</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
			<string>MaxFPSInput</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setMaxFPS:specifier:</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PanoramaMaxFrameRate</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>ACTPanoramaBufferRingSize</string>
			<key>id</key>
			<string>PanoramaBufferRingSize</string>
			<key>footerText</key>
			<string></string>
		</dict>
       <dict>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>PanoramaBufferRingSizeSlider</string>
			<key>default</key>
			<real>6</real>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPanoramaBufferRingSize:specifier:</string>
			<key>key</key>
			<string>PanoramaBufferRingSize</string>
			<key>max</key>
			<real>30</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
			<string>RingSizeInput</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPanoramaBufferRingSize:specifier:</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PanoramaBufferRingSize</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>ACTPanoramaPowerBlurBias</string>
			<key>id</key>
			<string>PanoramaPowerBlurBias</string>
			<key>footerText</key>
			<string></string>
		</dict>
       <dict>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>PanoramaPowerBlurBiasSlider</string>
			<key>default</key>
			<real>30</real>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPanoramaPowerBlurBias:specifier:</string>
			<key>key</key>
			<string>PanoramaPowerBlurBias</string>
			<key>max</key>
			<real>60</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
			<string>BlurBiasInput</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPanoramaPowerBlurBias:specifier:</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PanoramaPowerBlurBias</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>ACTPanoramaPowerBlurSlope</string>
			<key>id</key>
			<string>PanoramaPowerBlurSlope</string>
			<key>footerText</key>
			<string></string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>id</key>
			<string>PanoramaPowerBlurSlopeSlider</string>
			<key>default</key>
			<real>16</real>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPanoramaPowerBlurSlope:specifier:</string>
			<key>key</key>
			<string>PanoramaPowerBlurSlope</string>
			<key>max</key>
			<real>60</real>
			<key>min</key>
			<real>1</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
			<string>BlurSlopeInput</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>set</key>
        	<string>setPanoramaPowerBlurSlope:specifier:</string>
			<key>isNumeric</key>
			<true/>
			<key>key</key>
			<string>PanoramaPowerBlurSlope</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
    </array>
  </dict>
</plist>
