<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>UI</string>
    <key>items</key>
    <array>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Panorama Default Direction</string>
			<key>footerText</key>
			<string>Set default direction of arrow when enter Panorama mode.</string>
		</dict>
		 <dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>cellClass</key>
			<string>PanoDirectionCell</string>
			<key>key</key>
			<string>defaultDirection</string>
			<key>label</key>
			<string>Direction</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Instructional Text</string>
			<key>footerText</key>
			<string>The text under a panorama preview.</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>hideLabel</string>
        	<key>id</key>
        	<string>hideText</string>
        	<key>set</key>
        	<string>setTextHide:specifier:</string>
        	<key>label</key>
        	<string>Hide Text</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>id</key>
        	<string>hideBG</string>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>hideLabelBG</string>
        	<key>label</key>
        	<string>Hide BG</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>id</key>
        	<string>customText</string>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>customText</string>
        	<key>enabled</key>
        	<true/>
        	<key>label</key>
        	<string>Custom Text</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>id</key>
        	<string>inputText</string>
			<key>defaults</key>
			<string>com.PS.actHack</string>
			<key>placeholder</key>
			<string>Enter text here</string>
			<key>key</key>
			<string>myText</string>
			<key>enabled</key>
        	<true/>
			<key>label</key>
			<string>Text</string>
			<key>PostNotification</key>
			<string>com.PS.actHack.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Enable Zoom</string>
			<key>footerText</key>
			<string>Ability to zoom in Panorama mode.</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>panoZoom</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Enable Grid</string>
			<key>footerText</key>
			<string>Ability to show grid in Panorama mode.</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>panoGrid</string>
        	<key>label</key>
        	<string>Enabled</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>id</key>
			<string>blueButtonDesc</string>
			<key>label</key>
			<string>Blue Button</string>
			<key>footerText</key>
			<string>Same with "Better Pano Button" (Change Panorama button to blue).</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>id</key>
			<string>blueButtonSwitch</string>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>bluePanoBtn</string>
        	<key>label</key>
        	<string>Blue</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>White Arrow</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>hideArrow</string>
        	<key>label</key>
        	<string>Hide</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>noArrowTail</string>
        	<key>label</key>
        	<string>No Tail Animation</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Line in the middle</string>
			<key>footerText</key>
			<string>The horizontal line in the middle of screen.</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>hideLevelBar</string>
        	<key>label</key>
        	<string>Hide</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>White Border</string>
			<key>id</key>
			<string>borderDesc</string>
			<key>footerText</key>
			<string>The border that crops the little preview.</string>
		</dict>
		<dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
       		<key>default</key>
        	<false/>
        	<key>id</key>
			<string>border</string>
        	<key>defaults</key>
        	<string>com.PS.actHack</string>
        	<key>key</key>
        	<string>hideGhostImg</string>
        	<key>label</key>
        	<string>Hide</string>
        	<key>PostNotification</key>
        	<string>com.PS.actHack.prefs</string>
      </dict>
    </array>
  </dict>
</plist>
